@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* .headline{
  color:red;
  background-color: blue !important;
  
} */

  /* .textcenter{
    color:green;
    background-color: darkgrey;
  }

 
  .background{
    background:#f8d7da!important;
  }

  .fontstyle{
 background-color: brown;
  }
   


.textcenter2{
    text-align: center !important ;
    background-color: blue;
    } 

.textcenter3{
      background-color:rgb(204, 195, 213);
      } 

.headline{
  font-size: large;
  font-style:italic;
  color: brown;
  text-align: right;
}      
.lines{
background-color: rgb(221, 113, 221);
}
.nav-style{
 text-align: center;
 background-color: lightcoral;
} */